<html>
    <head>

    <title>Cocktail Recipe Search Engine</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Cocktail Search Engine" />
    <meta property="og:description" content="Want a cocktail but don't know what to make? Search by ingredients here." />
    <meta property="og:image" content="http://cocktails.iljabelankins.co.uk/media/meta.png" />
    <meta name="description" content="Want a cocktail but don't know what to make? Search by ingredients here.">
    <link rel="apple-touch-icon" sizes="57x57" href="/media/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/media/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/media/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/media/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/media/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/media/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/media/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/media/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/media/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/media/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
    <link rel="manifest" href="/media/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/media/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    


    <link href="https://fonts.googleapis.com/css2?family=Solway&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
    </script>
    
   </head>

   <body>
       
    <div class="my-container">
        <div class="welcome-box" onclick="showIngredients()">
            <p>Build A Cocktail</p>
        </div>
        <div class="search-title"">
            <p>Ingredient Select</p>
        </div>
        <div class="ingredient-search">
        {% include 'search.html' %}
        </div>
        <div class="recipe-results">
        
        </div>
    </div>
</body>

<script>

    function no_results(){
        var recipe_html=$("\
        <p class='no-recipe-results'><b>No Results Found.</b></p>\
        ")
        recipe_html.appendTo(".recipe-results");
    }

    function add_recipe_to_page(recipe){
        var recipe_html=$("\
        <div class='recipe-result'>\
        <img class='recipe-image' src='"+recipe['image']+"'>\
        <p><b>"+recipe['name']+"</b></p>\
        <p>"+recipe['missing_ingredients']+" missing ingredients.</p>\
        <p>"+recipe['measurements']+"</p>\
        <p>"+recipe['instructions']+"</p>\
        </div>\
        ")
        recipe_html.appendTo(".recipe-results");
    }

    function showIngredients(){
        $(".ingredient-search").css("max-height", "100vh");
        $(".ingredient-search").css("padding", "10px 10px 10px 10px");
        $(".search-title").css("max-height", "100vh");
        $(".search-title").css("border-bottom", "4px solid black");
        $(".welcome-box p").css("font-size", "2em");
        $(".welcome-box").css("border-bottom", "4px solid black");
        $(".recipe-results").css("max-height", "0vh");
        $(".recipe-results").css("overflow-y", "hidden");
    }

    // wait for the DOM to be loaded
$(document).ready(function() {

    // process the form
    $('form').submit(function(event) {

        // get the form data
        // there are many ways to get this data using jQuery (you can use the class or id also)
        var formData = $('form').serializeArray();

        // process the form
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : '/search', // the url where we want to POST
            crossDomain: true,
            headers: {
                "accept": "application/json",
                "Access-Control-Allow-Origin":"*"
            },
            data        : formData, // our data object
            dataType    : 'json', // what type of data do we expect back from the server
                        encode          : true
        })
            // using the done promise callback
            .done(function(data) {
                $(".no-recipe-results").remove()
                $(".recipe-result").remove()

                // log data to the console so we can see
                console.log(data); 
                var i;
                if(data["results"].length>0){
                    for (i = 0; i < data["results"].length; i++) {
                        add_recipe_to_page(data["results"][i])
                        console.log(data["results"][i])
                    }
                }
                else{
                    no_results()
                }

                $(".search-title").css("max-height", "0vh");
                $(".ingredient-search").css("max-height", "0vh");
                $(".ingredient-search").css("padding", "0vh");
                $(".recipe-results").css("max-height", "70vh");
                $(".recipe-results").css("overflow-y", "scroll");


                // here we will handle errors and validation messages
            });

        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });

});
    
</script>


</html>

<style>

    html { 
        background: url(/media/background.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    p,
    li,
    input,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label{
        font-family: 'Solway', serif;
    }

    
    .my-container {
        order: 1;
        max-width: 800px;
        background-color: #355C7D;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .ingredient-search{
        background-color: white;
        padding: 0px 0px 0px 0px;
        transition: padding 0.25s ease-in;
        overflow: hidden;
    }
    
    .welcome-box p{
        font-size: 5em;
        margin: 5px;
        transition: font-size 0.25s ease-in;
    }
    
    .search-title p{
        font-size: 2em;
        margin: 5px;
    }
    
    .search-title{
        max-height:0px;
        transition: max-height 0.25s ease-in;
        overflow: hidden;
    }
    
    .welcome-box{
        cursor: pointer;
    }
    
    .ingredient-search{
        max-height:0px;
        transition: max-height 0.25s ease-in;
        background-color: grey;
    }
    
    body{
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ingredient-row{
    text-align: center;
}

.ingredient-list{
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.unselected{
    list-style-type: none;
    max-height: 300px;
    min-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.selected{
    list-style-type: none;
    max-height: 300px;
    min-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.recipe-image{
    max-width: 200px;
}

.recipe-result{
    display: inline-block;
    max-width: 300px;
    padding: 10px;
}

.recipe-results{
    max-height: 0vh;
    transition: max-height 0.25s ease-in;
    overflow: hidden;
    background-color: grey;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

ul {
    padding: 0;
}

    
    </style>

<script>

    /*
    function to take a ID and find a HTML element with class ingred-{id} and move it
    into the list with class "selected". Update the onclick on that element to use the 
    "move_item_back" function. Then create a hidden input value with the ID for form
    submission
    */
    function move_item(id){
        //move ingredient to the selected list
        $(".ingred-" + id).appendTo(".selected");
    
        //update its onclick to te alternate function
        $(".ingred-" + id).attr('onclick','move_item_back(' + id + ')');
    
        //create a hidden input field with the ingredients ID
        var new_input = $("<input class='ingredient-selection ingred-select-" + id + "' type='hidden' name='ids[]' value='" + id + "'>");
        //add that hidden input to the selected list
        new_input.appendTo(".selected");
    }
    
    /*
    function to take a ID and field a HTML element with class ingred-{id} and move it
    into the list with class "unselected". Update the onclick on that element to use the 
    "move_item" function. Then delete a hidden input value with the ID so it isn't submitted
    in the form
    */
    function move_item_back(id){
        //move ingredient to unselected list
        $(".ingred-" + id).appendTo(".unselected");
    
        //update its onclick to the first function
        $(".ingred-" + id).attr('onclick','move_item(' + id + ')');
    
        //remove the hidden input field it did have
        $(".ingred-select-" + id).remove()
    }
    
    function checkform(){
    
        if($(".ingredient-selection").length){
                return true;
            }
        alert("Please select an ingredient.")
        return false;
    
    }
    
    </script>