<form method='POST' onSubmit="return checkform()">
    
    <div class="container">
        <div class="ingredient-row">
            <div class="ingredient-list">
                <div style="border: 2px black solid">
                    <p><b>INGREDIENTS</b></p>
                    <ul class="unselected">
                        {% for ingredient in ingredients %}
                        <li class="ingred-{{ingredient['id']}}" onClick="move_item({{ingredient['id']}});">{{ingredient['name']}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
                <div class="ingredient-list">
                    <div style="border: 2px black solid">
                        <p><b>YOUR INGREDIENTS</b></p>
                        <ul class="selected">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    
                </div>
                <div class="col">

                    <h6>Select "Including" for any recipe with these ingredients. Select "Only" for recipes containing only these ingredients.</h6>
                    <div style="text-align: center; width: 100%">
                        <div style= "display: inline-block">
                            <input required type="radio" id="including" name="query_option" value="including" checked='checked'>
                            <label for="including">Including</label><br>
                            <input required type="radio" id="only" name="query_option" value="only">
                            <label for="only">Only</label><br>
                        </div>
                    </div>
                        <br>
                        <input type="submit" value="Submit" style= "display: block; margin: auto;">
                </div>
                <div class="col-sm">
                    
                </div>
            </div>
    </div>
        
</form>


